<footer>

<!-- Start of StatCounter -->
<script type="text/javascript">
var sc_project=9889491; 
var sc_invisible=1; 
var sc_security="20d769e7"; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="click tracking"
href="http://statcounter.com/" target="_blank"><img
class="statcounter"
src="http://c.statcounter.com/9889491/0/20d769e7/1/"
alt="click tracking"></a></div></noscript>
<!-- End of StatCounter -->
<a href="http://statcounter.com/p9889491/?guest=1">Visitor Stats</a>

  <!-- Gaug.es Analytics -->
  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '53ad81c88bfdf738fe00d730');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
</footer>
